@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <button type="button" aria="" onclick="location.href='@Url.Action("Products","Catalog")'">Вывести каталог товаров </button>
        <a class="navbar-brand" asp-area="" asp-controller="Catalog" asp-action="products">вывести каталог товаров</a>
    </div> 
        <div>
        <button type="button" aria="" onclick="location.href='@Url.Action("Index","AddNewProduct")'">Добавить новый продукт</button>
        <a class="navbar-brand" asp-area="" asp-controller="AddNewProduct" asp-action="Index">Добавить новый продукт</a>
    </div>  
</div>


